// form http://twbscolor.smarchal.com/

$bgDefault : #3498DB;
$bgHighlight : #3498DB;
$colDefault : #ecf0f1;
$colHighlight : #fff;

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;

  .navbar-brand {
    color: $colDefault;

    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }

  .navbar-text {
    color: $colDefault;
  }

  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,
        &:focus {
          color: $colHighlight;
        }
      }
    }

    > .active {
      > a,
      > a:hover,
      > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }

    > .open {
      > a, >
      a:hover,
      > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }

  .navbar-toggle {
    border-color: $bgHighlight;

    &:hover,
    &:focus {
      background-color: $bgHighlight;
    }

    .icon-bar {
      background-color: $colDefault;
    }
  }

  .navbar-collapse {
    box-shadow: none;
    border: 0;
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }

  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;

      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }

    > .active {
      > a,
      > a:hover,
      > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}